<h2>Elérhető albérletek listája</h2>
<div class="flex-container">
  <div *ngFor="let sublet of sublets; index as indexOfelement" class="flex-card">
    <div class="card-title">{{sublet.address}}</div>
    <div class="card-image"><img src="assets/room.jpg" style="width:300px;"></div>

    <!--<strong>ID:</strong> {{sublet.id}}-->
    <!--<strong>SellerID:</strong> {{sublet.sellerId}}-->
    <div class="card-info" style="width: 20%">
      <img src="assets/size.png" /><br />
      {{sublet.size}} m²
    </div>

    <div class="card-info" style="width: 20%">
      <img src="assets/bed.png" /><br />
      {{sublet.rooms}} db
    </div>

    <div class="card-info" style="width: 20%">

      <ng-container *ngIf="sublet.garden">
        <img src="assets/garden.png" /><br />
        kertes
      </ng-container>
      <ng-container *ngIf="!sublet.garden">
        <img src="assets/no-garden.png" /><br />
        nem kertes
      </ng-container>
    </div>

    <div class="card-info" style="width: 40%">
      <img src="assets/coin.png" /><br />
      {{sublet.price}} Ft/hó
    </div>

    <div class="card-details">
      {{sublet.desc}}
    </div>
  </div>
</div>
