<h2>Új hirdetés feladása</h2>
<div class="card" *ngIf="currentUser.id">
  <form #addSublet="ngForm" (ngSubmit)="onSubmit(addSublet.value)" ngNativeValidate>
    <p>
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>Ingatlan címe</mat-label>
        <input matInput
               placeholder="1234 Szélesfalu, Fő út 5."
               name="address"
               id="address"
               required
               ngModel>
        <mat-hint>A teljes címet be kell írni</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" class="short-width">
        <mat-label>Alapterület</mat-label>
        <input matInput
               placeholder="45"
               name="size"
               id="size"
               required
               ngModel>
        <span matSuffix> m²</span>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" class="short-width">
        <mat-label>Kert</mat-label>
        <mat-select name="garden" id="garden" required ngModel>
          <mat-option value="1">Van</mat-option>
          <mat-option value="0">Nincs</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" class="short-width">
        <mat-label>Szobák száma</mat-label>
        <input matInput
               placeholder="2"
               name="rooms"
               id="rooms"
               required
               ngModel>
        <span matSuffix> db</span>
        <mat-hint>Kiadó szoba esetén 1-et kell megadni</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" class="short-width">
        <mat-label>Irányár</mat-label>
        <input matInput
               placeholder="120000"
               name="price"
               id="price"
               required
               ngModel>
        <span matSuffix> Ft/hó</span>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Leírás</mat-label>
        <textarea matInput
                  placeholder="Lényegre törő mondatok az állapotról, környezetről, lehetőségekről"
                  name="desc"
                  id="desc"
                  ngModel></textarea>
      </mat-form-field>
    </p>

    <p>
      A képeket egyesével, vagy egyszerre is fel lehet tölteni. <br /> Támogatott képarány 16:9. Maximális fájlméret 2 MB.<br />
      <input type="file" multiple (change)="selectFiles($event)" />
      <button mat-raised-button color="primary"
              [disabled]="!selectedFiles"
              (click)="uploadFiles()"
              type="button">
        Kép feltöltése
      </button>
    </p>

    <div *ngIf="errorMsg" class="alert alert-danger">
      A kép/képek mérete meghaladja a maximális méretet!
    </div>

    <div *ngIf="imageNames" class="imageHolder">
      <img *ngFor="let url of imageNames" src="http://localhost:8080/files/{{url}}" />
    </div>

    <button mat-raised-button color="primary">Küldés</button>
  </form>
</div>
