<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h2>
      <strong>
        {{ currentUser.username }}     
        <span *ngIf="currentUser && currentUser.roles.includes('ROLE_ADMIN')" title="Adminisztrátor">  🏅 </span>
      </strong> - profil
    </h2>
  </header>
  <p>
    <strong>E-mail:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Telefonszám:</strong>
    {{ currentUser.tel }}
  </p>
  <strong>Jogosultságok:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>


  <strong>Feladott hirdetések</strong>

  <div class="flex-container">
    <mat-card *ngFor="let sublet of sublets; index as indexOfelement" class="flex-card">
      <mat-card-title>{{sublet.address}}</mat-card-title>

      <mat-card-content>
        <mat-grid-list cols="5" rowHeight="50px">
          <mat-grid-tile colspan="1" rowspan="1">
            <img src="assets/size.png" class="card-info-img" /><br />
            {{sublet.size}} m²
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img src="assets/bed.png" class="card-info-img" /><br />
            {{sublet.rooms}} db
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <ng-container *ngIf="sublet.garden">
              <img src="assets/garden.png" class="card-info-img" /><br />
              kertes
            </ng-container>
            <ng-container *ngIf="!sublet.garden">
              <img src="assets/no-garden.png" class="card-info-img" /><br />
              kert nélküli
            </ng-container>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <img src="assets/coin.png" class="card-info-img" /><br />
            {{sublet.price}} Ft/hó
          </mat-grid-tile>
          <mat-grid-tile colspan="5" rowspan="1">
            <mat-chip-list>
              <mat-chip color="warn"> <a href="/delete/?id={{sublet.id}}">Törlés</a> </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>

        <p> {{sublet.desc}} </p>

      </mat-card-content>
    </mat-card>

  </div>


  <!--
    <div class="flex-container">
      <div *ngFor="let sublet of sublets" class="flex-card">
        <div class="card-title">{{sublet.address}}</div>
        <div class="card-image"><img src="assets/room.jpg" style="width:300px;"></div>
        <div class="card-info" style="width: 20%">
          <img src="assets/size.png" /><br />
          {{sublet.size}} m²
        </div>

        <div class="card-info" style="width: 20%">
          <img src="assets/bed.png" /><br />
          {{sublet.rooms}} db
        </div>

        <div class="card-info" style="width: 20%">

          <ng-container *ngIf="sublet.garden">
            <img src="assets/garden.png" /><br />
            kertes
          </ng-container>
          <ng-container *ngIf="!sublet.garden">
            <img src="assets/no-garden.png" /><br />
            nem kertes
          </ng-container>
        </div>

        <div class="card-info" style="width: 40%">
          <img src="assets/coin.png" /><br />
          {{sublet.price}} Ft/hó
        </div>

        <div class="card-details">
          {{sublet.desc}}

        </div>



        <div class="contactBtn deleteBtn" id="secondBtn">
          <a href="/delete/?id={{sublet.id}}">Törlés</a>
        </div>

      </div>
    </div>
    -->

</div>

  <ng-template #loggedOut>
    Az oldal megjelenítéséhez jeletkezz be!.
  </ng-template>



