<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h2>
      <strong>
        {{ currentUser.username }}     
        <span *ngIf="currentUser && currentUser.roles.includes('ROLE_ADMIN')" title="Adminisztrátor">  🏅 </span>
      </strong> - profil
    </h2>
  </header>
  <p>
    <strong>E-mail:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Telefonszám:</strong>
    {{ currentUser.tel }}
  </p>


  <h2>Feladott saját hirdetések</h2>

  <div class="flex-container">
    <mat-card class="flex-card" *ngIf="!sublets.length">
      Még nem adtál fel egy hirdetést sem.
    </mat-card>
    <mat-card *ngFor="let sublet of sublets; index as indexOfelement" class="flex-card">
      <mat-card-title>{{sublet.address}}</mat-card-title>

      <mat-card-content>
        <img *ngIf="sublet.images.length == 0" src="assets/no-image.jpg" style="width:100%;">
        <div *ngIf="sublet.images.length > 0">
          <mat-carousel timings="250ms ease-in"
                        [autoplay]="true"
                        [interval]=5000
                        color="accent"
                        maxWidth="auto"
                        [proportion]=56.25
                        [slides]="sublet.images.length"
                        [loop]="true"
                        [hideArrows]="false"
                        [hideIndicators]="false"
                        [useKeyboard]="false"
                        [useMouseWheel]="false"
                        [maintainAspectRatio]="true"
                        orientation="ltr">
            <mat-carousel-slide #matCarouselSlide
                                *ngFor="let url of sublet.images; let i = index"
                                [image]="url"
                                overlayColor="#00000040"
                                [hideOverlay]="true">

            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <mat-grid-list cols="5" rowHeight="50px">
          <mat-grid-tile colspan="1" rowspan="1">
            <img src="assets/size.png" class="card-info-img" /><br />
            {{sublet.size}} m²
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img src="assets/bed.png" class="card-info-img" /><br />
            {{sublet.rooms}} db
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <ng-container *ngIf="sublet.garden">
              <img src="assets/garden.png" class="card-info-img" /><br />
              kertes
            </ng-container>
            <ng-container *ngIf="!sublet.garden">
              <img src="assets/no-garden.png" class="card-info-img" /><br />
              kert nélküli
            </ng-container>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <img src="assets/coin.png" class="card-info-img" /><br />
            {{sublet.price}} Ft/hó
          </mat-grid-tile>
          <mat-grid-tile colspan="5" rowspan="1">
            <mat-chip-list>
              <mat-chip color="warn"> <a href="/delete/?id={{sublet.id}}">Törlés</a> </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>

        <p> {{sublet.descript}} </p>

      </mat-card-content>
    </mat-card>
  </div>
</div>

  <ng-template #loggedOut>
    Az oldal megjelenítéséhez jeletkezz be!.
  </ng-template>



