<h2>Elérhető albérletek listája</h2>

<div class="flex-container" *ngIf="loading">
  <div>
    <i>Töltés...</i>
  </div>
</div>

<div class="flex-container" *ngIf="errorMsg">
  <mat-card class="flex-card" >
    <strong>Hiba:</strong> {{errorMsg}}
  </mat-card>
</div>

<div class="sortBar" *ngIf="!errorMsg && !loading">
  <mat-form-field class="sortBarElement" appearance="fill">
    <mat-label>Rendezés szempontja</mat-label>
    <mat-select #sortBy (selectionChange)='getSubletInfosFilteredOrdered(sortBy.value)'>
      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="sortBarElement" appearance="fill">
    <mat-label>Keresés cím alapján</mat-label>
    <input matInput [(ngModel)]='findAddress'>
  </mat-form-field>
  <button (click)='getSubletInfosFilteredOrdered(sortBy.value)' mat-raised-button color="primary" type="button">Keresés - rendezés</button>
</div>

<div class="flex-container" *ngIf="!errorMsg && !loading">
  <mat-card class="flex-card" *ngIf="!sublets.length">
    Nincs találat.
  </mat-card>
  <mat-card *ngFor="let sublet of sublets; index as indexOfelement" class="flex-card">
    <mat-card-title>{{sublet.address}}</mat-card-title>

    <mat-card-content>
      <img *ngIf="sublet.images.length == 0" src="assets/no-image.jpg" style="width:100%;">
      <div *ngIf="sublet.images.length > 0">
        <mat-carousel timings="250ms ease-in"
                      [autoplay]="true"
                      [interval]=5000
                      color="accent"
                      maxWidth="auto"
                      [proportion]=56.25
                      [slides]="sublet.images.length"
                      [loop]="true"
                      [hideArrows]="false"
                      [hideIndicators]="false"
                      [useKeyboard]="false"
                      [useMouseWheel]="false"
                      [maintainAspectRatio]="true"
                      orientation="ltr">
          <mat-carousel-slide #matCarouselSlide
                              *ngFor="let url of sublet.images; let i = index"
                              [image]="url"
                              overlayColor="#00000040"
                              [hideOverlay]="true">

          </mat-carousel-slide>
        </mat-carousel>
      </div>
      <div class="flex-container">
        <div class="flex-info info-small">
          <img src="assets/size.png" class="card-info-img" />
          {{sublet.size}} m²
        </div>
        <div class="flex-info info-small">
          <img src="assets/bed.png" class="card-info-img" />
          {{sublet.rooms}} db
        </div>
        <div class="flex-info info-big">
          <ng-container *ngIf="sublet.garden">
            <img src="assets/garden.png" class="card-info-img" />
            kertes
          </ng-container>
          <ng-container *ngIf="!sublet.garden">
            <img src="assets/no-garden.png" class="card-info-img" />
            kert nélküli
          </ng-container>
        </div>
        <div class="flex-info info-big">
          <img src="assets/coin.png" class="card-info-img" />
          {{sublet.price}} Ft/hó
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-info">
          <mat-chip-list>
            <mat-chip><a href="tel:{{sublet.phone}}">{{sublet.phone}}</a></mat-chip>
            <mat-chip><a href="mailto:{{sublet.email}}">{{sublet.email}}</a></mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div>
        <p> {{sublet.descript}} </p>
      </div>

    </mat-card-content>
  </mat-card>

</div>
