<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-raised-button color="primary" type="button" (click)="goToPage('register')" *ngIf="!isLoggedIn">Regisztráció</button><br *ngIf="!isLoggedIn" />
    <button mat-raised-button color="primary" type="button" (click)="goToPage('login')" *ngIf="!isLoggedIn">Bejelentkezés</button><br *ngIf="!isLoggedIn"/>
    <button mat-raised-button color="primary" type="button" (click)="goToPage('profile')" *ngIf="isLoggedIn">{{ username }}</button><br *ngIf="isLoggedIn"/>
    <button mat-raised-button color="primary" type="button" (click)="logout()" *ngIf="isLoggedIn">Kijelentkezés</button><br *ngIf="isLoggedIn"/>
    <button mat-raised-button color="primary" type="button" (click)="goToPage('home')">Kezdőlap</button><br />
    <button mat-raised-button color="primary" type="button" (click)="goToPage('admin')" *ngIf="showAdminBoard">Admin</button><br *ngIf="showAdminBoard"/>
    <button mat-raised-button color="primary" type="button" (click)="goToPage('mod')" *ngIf="showModeratorBoard">Moderátor</button><br *ngIf="showModeratorBoard"/>
    <button mat-raised-button color="primary" type="button" (click)="goToPage('add')" *ngIf="isLoggedIn">Hirdetésfeladás</button>
  </mat-drawer>

  <div class="top_sav" color="primary">
    <button mat-raised-button color="primary" type="button" (click)="drawer.toggle()" class="menubtn">
      Menü
    </button>
    <span class="top_cim">
      ⌂ Albi - az albérletportál
    </span>
  </div>
    <router-outlet></router-outlet>
</mat-drawer-container>
